#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .logo a {
  width: 200px;
  height: 40px;
}
#header .nav {
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .nav.active > ul > li > ul {
  height: 160px;
}
#header .nav.active > ul > li.active > a {
  background-color: #ffe100;
  color: #333;
}
#header .nav.active > ul > li.active > ul > li > a {
  color: #333;
}
#header .nav.active > ul > li.active > ul > li > a:hover {
  color: #fff;
}
#header .nav > ul {
  position: relative;
  display: flex;
  z-index: 999;
}
#header .nav > ul > li {
  position: relative;
}
#header .nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #ffae00;
  color: #fff;
}
#header .nav > ul > li > a:hover {
  background-color: #ffe100;
  color: #333;
}
#header .nav > ul > li > ul {
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: 0.6s;
}
#header .nav > ul > li > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #ffe100;
  color: #fff;
}
#header .nav > ul > li > ul > li > a:hover {
  background-color: #ff7d00;
}
